



.all {
    font-size: 50px;
}


.bitcoin {
    color: orange;
}


.neo {
    color: greenyellow;
}


.litecoin {
    color: gray;
}

.vertcoin {
    color: darkgreen;
}


.civic {
    color: limegreen;
}

.golem {
    color: gray;
}

.AP {
    color: orange;
}

#APsize {
    font-size: 25px;
}

.SP {
    color: lawngreen;
}

#SPsize {
    font-size: 25px;
}




