img {
    width: 100%;
    height: auto;
}



.all {
    font-size: 50px;
}


.bitcoin {
    color: orange;
}


.neo {
    color: greenyellow;
}


.litecoin {
    color: gray;
}

.vertcoin {
    color: darkgreen;
}


.carnado {
    color: deepskyblue;
}

.golem {
    color: gray;
}

.ark {
    color: red;
}

.wabi {
    color: forestgreen;
}

.substratum {
    color: indianred;
}

.stellarLumens {
    color: lightblue;
}

.requestNetwork {
    color: cyan;
}

.icon {
    color: deepskyblue
}

.ripple {
    color: lightskyblue;
}









.AP {
    color: orange;
}

#APsize {
    font-size: 25px;
}

.SP {
    color: lawngreen;
}

#SPsize {
    font-size: 25px;
}




